name: Build and test
on:
  push:
    branches:
      - main
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: "18"

      - name: Change directory to project folder
        run: cd cicd-webapp

      - name: Install Dependencies
        run: yarn install

      - name: Linting
        run: yarn --cwd cicd-webapp lint
